/*초기화 */
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,h1,.list{
    margin: 0;
    padding: 0;
}


/*디자인*/
body {
    font-family: 'GangwonEdu_OTFBoldA';
    background-color: #dddddd;
}


.wrap {
    border-radius: 15px;
    overflow: hidden;
    width: 400px;
    margin: 100px auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.header {
    background-color: white;
    padding: 20px 0;
    border-bottom: 4px solid #eeeeee;
}

header h1 {
    color: #ff1593;
    border-left: 7px solid #ff1593;
    padding-left: 16px;
}

.list {
    background-color: #f4f4f4;
    list-style-type: none;
    overflow: hidden;
}

.list li {
    border: 4px solid #eeeeee;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin: 25px 23px;
    color: rgb(67, 67, 67);
}

.list li:hover {
    border-color: #ff1593;
    color: #ff1593;
}