/*폰트*/
@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*초기화*/
body,h1,input,p{
    margin: 0;
    padding: 0;
}


/*sign up*/

body {
    font-family: 'MaruBuri-Regular';
    background-color: #faefbb;
}
.wrap {
    color: rgb(69, 69, 69);
    overflow: hidden;
    padding-top: 200px;
}

.all-signup{
    background-image: url(/CSS/0401/images/background02.png);
    margin: 0  auto;
    width: 800px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    border: 10px solid white;
}
.signup {
    width: 50%;
    float: right;
    background-color:#fcddd7;
}
.header{
    font-size: 32px;
    padding: 60px 60px 40px;
    color: rgb(37, 37, 37);
    text-align: center;
}

.inputlist {
    padding: 60px;
    padding-top: 0;
}

.inputbox {
    height: 30px;
    width: 80%;
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid rgb(139, 139, 139);
}

.inputlist input {
    margin-bottom: 20px;
    font-family: 'MaruBuri-Regular';
    width: 100%;
}

input::placeholder{
    font-size: 16px;

}

#submit {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 120px;
    background-color: rgb(253, 103, 103);
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 10px;;
}

#submit:hover {
    border: 3px solid rgb(253, 103, 103);
    background-color: white;
    color: rgb(253, 103, 103);
}

.inputlist input[type=radio] {
    width: 50px;
    height: 18px;

}

.inputlist p{
    font-weight: bold;
    font-size: 15px;
    color: rgb(134, 134, 134);
    margin-bottom: 10px;
}


/*sns_signup*/

.sns_signup {
    width: 50%;
    float: right;
}

.sns_header {
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 32px;
    text-align: center;
    color: white;
}

.signup-terms {
    margin-top: 20px;
    text-align: center;

}
.terms-p {
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.checkwrap {
    text-align: center;
    margin-top: 15px;
}
#text {
    font-size: 14px;
}

.check {
    color: white;
    display: inline;
}
#checkbox{
    display: inline-block;
    width: 40px;
    height: 18px;
}