.add-icon {
    background : {
        image: url("./assets/arrow-right-solid.svg");
        position: center center;
        repeat: no-repeat;
        size: 14px 14px;
    }
}

/* 부모선택자 엠퍼센트 */

// .box {
// 	&:focus{} // 가상선택자
// 	&:hover{}
//     &:active{}
// 	&:first-child{} 
//     &:nth-child(2){}
// 	&::after{} // 가상요소
// 	&::before{} 
// }

.box{
    height: 100px;
    width: 100px;
    background-color: red;
    transition: all 0.5s;
    &:hover{
        background-color: green;
    }
}

ul {
    li {
    &:hover {
        background: white;
        cursor: pointer;
              // 가상요소 
    }
    &:last-child {
        border-bottom: 2px solid black;
              // 가상클래스 
    }
    }
}

ol{
    li{
        &:nth-child(1){
            color: red;
        }
        &:nth-child(2){
            color: aqua;
        }        
        &:nth-child(3){
            color: blue;
        }
    }
}